Playbooks/InfoSec_CheckLoginResultsByIP.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "InfoSec_CheckLoginResultsByIP",
"type": "string"
}
},
"variables": {
"MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
"Azuresentinel-4ConnectionName": "[concat('Azuresentinel-4-', parameters('PlaybookName'))]",
"Azuresentinel-2ConnectionName": "[concat('Azuresentinel-2-', parameters('PlaybookName'))]",
"AzuremonitorlogsConnectionName": "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "Microsoft_Sentinel_incident": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                    }
                },
                "body": {
                    "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
            }
        }
    },
    "actions": {
        "Condition": {
            "actions": {
                "Tag_and_Escalate": {
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azuresentinel-4']['connectionId']"
                            }
                        },
                        "method": "put",
                        "body": {
                            "incidentArmId": "@triggerBody()?['object']?['id']",
                            "tagsToAdd": {
                                "TagsToAdd": [
                                    {
                                        "Tag": "InfoSec_SuccessfulLogin"
                                    }
                                ]
                            },
                            "severity": "High",
                            "status": "Active"
                        },
                        "path": "/Incidents"
                    }
                },
                "Add_comment_to_incident_(V3)": {
                    "runAfter": {
                        "Tag_and_Escalate": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azuresentinel-4']['connectionId']"
                            }
                        },
                        "method": "post",
                        "body": {
                            "incidentArmId": "@body('Tag_and_Escalate')?['id']",
                            "message": "<p>Users that had successful logins detected:<br><span>\n</span></p><p>@{variables('ipaccount')}<br><br></p>"
                        },
                        "path": "/Incidents/Comment"
                    }
                }
            },
            "runAfter": {
                "For_each": [
                    "Succeeded"
                ]
            },
            "else": {
                "actions": {
                    "Tag_and_close": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                }
                            },
                            "method": "put",
                            "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "tagsToAdd": {
                                    "TagsToAdd": [
                                        {
                                            "Tag": "InfoSec_UnsuccessfulLogin"
                                        },
                                        {
                                            "Tag": "InfoSec_AutoClosed"
                                        }
                                    ]
                                },
                                "severity": "Low",
                                "status": "Closed",
                                "classification": {
                                    "ClassificationAndReason": "TruePositive - SuspiciousActivity",
                                    "ClassificationReasonText": "No successful logins were detected."
                                }
                            },
                            "path": "/Incidents"
                        }
                    }
                }
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@variables('hasLogins')",
                            true
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Entities_-_Get_IPs": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel-2']['connectionId']"
                }
            },
            "method": "post",
            "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
            "path": "/entities/ip"
        }
    },
    "For_each": {
        "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
        "actions": {
            "Has_successful_logins": {
                "actions": {
                    "Set_variable": {
                        "runAfter": {
                            "For_each_1": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                            "name": "hasLogins",
                            "value": true
                        }
                    },
                    "Parse_Results": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Run_query_and_list_results')?['value']",
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "Identity": {
                                            "type": "string"
                                        },
                                        "UserId": {
                                            "type": "string"
                                        },
                                        "Column1": {
                                            "type": "string"
                                        },
                                        "count_": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "Identity",
                                        "UserId",
                                        "Column1",
                                        "count_"
                                    ]
                                }
                            }
                        }
                    },
                    "For_each_1": {
                        "foreach": "@outputs('Parse_Results')['body']",
                        "actions": {
                            "Append_to_array_variable": {
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                    "name": "ipaccount",
                                    "value": "@{item()['Identity']} (@{item()['Column1']})\n"
                                }
                            }
                        },
                        "runAfter": {
                            "Parse_Results": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    }
                },
                "runAfter": {
                    "Run_query_and_list_results": [
                        "Succeeded"
                    ]
                },
                "else": {
                "actions": {}
            },
            "expression": {
                "and": [
                    {
                        "greater": [
                            "@length(body('Run_query_and_list_results')?['value'])",
                            0
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Run_query_and_list_results": {
            "type": "ApiConnection",
            "inputs": {
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                    }
                },
                "method": "post",
                "body": "let IP = \"@{items('For_each')?['Address']}\";\nSigninLogs\n| where IPAddress == IP\n| where ResultType == 0\n| summarize count() by Identity, UserId, IP",
                "path": "/queryData",
                "queries": {
                    "subscriptions": "",
                    "resourcegroups": "",
                    "resourcetype": "",
                    "resourcename": "",
                    "timerange": "Last 48 hours"
                }
            }
        }
    },
    "runAfter": {
        "Accounts": [
            "Succeeded"
        ]
    },
    "type": "Foreach"
},
"Initialize_variable": {
    "runAfter": {
        "Entities_-_Get_IPs": [
            "Succeeded"
        ]
    },
    "type": "InitializeVariable",
    "inputs": {
        "variables": [
            {
                "name": "hasLogins",
                "type": "boolean",
                "value": false
            }
        ]
    }
},
"Accounts": {
    "runAfter": {
        "Initialize_variable": [
            "Succeeded"
        ]
    },
    "type": "InitializeVariable",
    "inputs": {
        "variables": [
            {
                "name": "ipaccount",
                "type": "array",
            "value": []
        }
    ]
}
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"azuresentinel": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"connectionName": "[variables('MicrosoftSentinelConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
"connectionProperties": {
    "authentication": {
        "type": "ManagedServiceIdentity"
    }
}
},
"azuresentinel-4": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('Azuresentinel-4ConnectionName'))]",
"connectionName": "[variables('Azuresentinel-4ConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel-4')]"
},
"azuresentinel_1": {
"id": "",
"connectionId": "",
"connectionName": "azuresentinel-3"
},
"azuresentinel-2": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('Azuresentinel-2ConnectionName'))]",
"connectionName": "[variables('Azuresentinel-2ConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel-2')]",
"connectionProperties": {
    "authentication": {
        "type": "ManagedServiceIdentity"
    }
}
},
"azuremonitorlogs": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
"connectionName": "[variables('AzuremonitorlogsConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"identity": {
"type": "SystemAssigned"
},
"tags": {
"hidden-SentinelTemplateName": "InfoSec_CheckLoginResultsByIP",
"hidden-SentinelTemplateVersion": "1.0"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"[resourceId('Microsoft.Web/connections', variables('Azuresentinel-4ConnectionName'))]",
"[resourceId('Microsoft.Web/connections', variables('Azuresentinel-2ConnectionName'))]",
"[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('MicrosoftSentinelConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('MicrosoftSentinelConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
}
}
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('Azuresentinel-4ConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('Azuresentinel-4ConnectionName')]",
"customParameterValues": {},
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel-4')]"
}
}
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('Azuresentinel-2ConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('Azuresentinel-2ConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel-2')]"
}
}
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('AzuremonitorlogsConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('AzuremonitorlogsConnectionName')]",
"customParameterValues": {},
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
}
}
}
]
}
